---
interface Props {
  className: string
}

const { className } = Astro.props
---

<ul class={className}>
  <li>
    <a href="/reserva">reserva</a>
  </li>
  <li>
    <a href="/tallers">tallerets</a>
  </li>
  <li>
    <a href="/#bio">sobre mi</a>
  </li>
  <li>
    <a href="/#contact">contacte</a>
  </li>
</ul>

<style>
  a {
    @apply block border bg-soft rounded-full text-center px-5 pb-[0.4rem] pt-[0.4rem] hover:-rotate-6 hover:border-red hover:text-red transition-transform;
  }
</style>
