---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { contacts } from '../../data/contact'
import Layout from '../../layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '../../utils'
import Footer from '../sections/Footer.astro'
import Header from '../sections/Header.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const privacyUrl = getRelativeLocaleUrl(lang, 'privacitat')
---

<Layout
  title={t('conditions.seo.title')}
  description={t('conditions.seo.desc')}
>
  <Header className="border-b bg-soft text-dark relative" />
  <main class="page-padding py-4 max-w-[80ch] mx-auto pb-16">
    <p class="mb-2 text-sm mt-6">{t('conditions.date')}</p>
    <p class="mb-8 text-sm">{t('conditions.disclaimer')}</p>

    <h1 class="text-3xl font-bold mb-4">{t('conditions.title')}</h1>

    <h2 class="text-xl py-3 font-bold">{t('conditions.reserva')}</h2>

    <p>
      {t('conditions.reserva.text')}
      <b> {t('conditions.reserva.bold')}</b>
    </p>

    <h2 class="text-xl py-3 font-bold">{t('conditions.fotos.title')}</h2>
    <p class="mb-4">{t('conditions.fotos.text')}</p>

    <p>
      {t('conditions.fotos.info')}
      <a href={privacyUrl} class="text-primary underline">
        {t('conditions.fotos.a.privacy')}
      </a>.
    </p>

    <h2 class="text-3xl font-bold mb-4 mt-8">{t('conditions.terms.title')}</h2>

    <h3 class="text-xl py-3 font-bold">{t('conditions.terms.ip')}</h3>
    <p>{t('conditions.terms.ip.text')}</p>

    <h2 class="text-3xl font-bold mb-4 mt-8">
      {t('conditions.terms.changes')}
    </h2>
    <p>{t('conditions.terms.changes.text')}</p>

    <h2 class="text-3xl py-3 font-bold mt-8">{t('conditions.contact')}</h2>
    <p>
      {t('conditions.contact.text')}
      {contacts.email}.
    </p>
  </main>

  <Footer />
</Layout>
