---
import { contacts } from '../../data/contact'
import Layout from '../../layouts/Layout.astro'
import Footer from '../sections/Footer.astro'
import Header from '../sections/Header.astro'

const t = {
  'contact.seo.title': 'Contacta amb tallerets',
  'contact.seo.desc': 'Email, telèfon i adreça de tallerets',
  'contact.title': 'Informació de contacte',
  'contact.desc': 'Per quaslevol dubte o proposta: no ho dubtis, escriu-me!',
  'contact.loc': 'Localització',
  'contact.email': 'Correu electrònic',
  'contact.telf': 'Telèfon',
}
---

<Layout title={t['contact.seo.title']} description={t['contact.seo.desc']}>
  <Header className="bg-soft text-dark relative" />
  <main class="flex flex-col items-center mx-auto pt-4 pb-40 px-4">
    <h1 class="text-4xl md:text-7xl font-bold mb-10 md:mb-14">
      {t['contact.seo.title']}
    </h1>

    <section
      class="flex gap-8 md:gap-12 md:items-center flex-wrap lg:flex-nowrap px-4"
    >
      <div class="text-xl">
        <b>{t['contact.loc']}</b>
        <address class="not-italic uppercase mb-6">
          Carrer del Moianès, 20 <br />Sants-Montjuïc<br />08014 Barcelona
        </address>

        <b>{t['contact.telf']} (Whatsapp)</b>
        <address class="not-italic uppercase mb-6">
          <a href="https://wa.me/34623951815">+34 623 95 18 15</a>
        </address>

        <b>{t['contact.email']}</b>
        <address class="not-italic mb-6">
          <a
            href={`mailto:${contacts.email}`}
            aria-label="Enviar correu electrònic"
          >
            {contacts.email}
          </a>
        </address>

        <b>Instagram</b>
        <address class="not-italic">
          <a
            href={contacts.instagramUrl}
            target="_blank"
            rel="noopener noreferrer"
          >
            @{contacts.instagramId}
          </a>
        </address>
      </div>
      <div>
        <iframe
          width="600"
          height="400"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d748.5326946448429!2d2.1419091696464974!3d41.37124330462902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4989d2aa0d09b%3A0x2b33e05e4321827e!2sCarrer%20del%20Moian%C3%A8s%2C%2020%2C%20Sants-Montju%C3%AFc%2C%2008014%20Barcelona!5e0!3m2!1sca!2ses!4v1722544862146!5m2!1sca!2ses"
          class="border-8 rounded w-[90vw] md:w-[600px]"></iframe>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
