---
import Footer from '../sections/Footer.astro'
import Contact from '../sections/Contact.astro'
import AMida from '../sections/AMida.astro'
import Bio from '../sections/Bio.astro'
import Hero from '../sections/Hero.astro'
import ProximsTallerets from '../sections/ProximsTallerets.astro'
import Layout from '../../layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '../../utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title={t('seo.title')} description={t('seo.desc')}>
  <main>
    <Hero />
    <Bio />
    <hr />
    <ProximsTallerets />
    <hr />
    <AMida />
  </main>

  <hr />
  <Contact />
  <Footer />
</Layout>
