---
import { contacts } from '../../data/contact'
import Layout from '../../layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '../../utils'
import Footer from '../sections/Footer.astro'
import Header from '../sections/Header.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title={t('privacy.seo.title')} description={t('privacy.seo.desc')}>
  <Header className="border-b bg-soft text-dark relative" />
  <main class="page-padding py-4 max-w-[80ch] mx-auto pb-16">
    <p class="mb-2 text-sm mt-6">{t('privacy.date')}</p>
    <p class="mb-8 text-sm">{t('privacy.disclaimer')}</p>

    <h1 class="text-3xl font-bold mb-4">{t('privacy.title')}</h1>
    <p>{t('privacy.desc')}</p>

    <h2 class="text-2xl py-3 font-bold">
      {t('privacy.recoleccion')}
    </h2>

    <h3 class="font-bold">
      {t('privacy.email')}
    </h3>
    <p class="mb-4">
      {t('privacy.email.text')}
    </p>

    <h3 class="font-bold">
      {t('privacy.fotos')}
    </h3>
    <p class="mb-4">
      {t('privacy.fotos.text')}
    </p>

    <h3 class="font-bold">
      {t('privacy.cookies')}
    </h3>
    <p>
      {t('privacy.cookies.text')}
    </p>

    <h2 class="text-2xl py-3 font-bold">
      {t('privacy.tratamiento')}
    </h2>
    <p>
      {t('privacy.tratamiento.text')}
    </p>
    <p>
      {t('privacy.tratamiento.text2')}
    </p>
    <p>{t('privacy.almacenamiento.text')}</p>
    <p>
      {t('privacy.solicitud')}
      {contacts.email}.
    </p>

    <h2 class="text-2xl py-3 font-bold">
      {t('privacy.changes')}
    </h2>
    <p>
      {t('privacy.changes.text')}
    </p>

    <h2 class="text-3xl py-3 font-bold mt-8">
      {t('privacy.contact')}
    </h2>
    <p>
      {t('privacy.contact.text')}
      {contacts.email}.
    </p>
  </main>

  <Footer />
</Layout>
