@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-display: block;
    src: url('/fonts/ClashDisplayExtralight.woff2') format('woff2');
    font-weight: 100;
  }

  @font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-display: block;
    src: url('/fonts/ClashDisplayLight.woff2') format('woff2');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-display: block;
    src: url('/fonts/ClashDisplayRegular.woff2') format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Clash Display';
    font-style: normal;
    font-display: block;
    src: url('/fonts/ClashDisplayMedium.woff2') format('woff2');
    font-weight: 500;
  }
}
