---
import { constants } from '../../config'
---

<section id="contact" class="page-padding md:max-w-[100ch] mx-auto my-20">
  <div class="my-12 flex gap-8 flex-wrap justify-between items-center">
    <div class="lg:max-w-[50%]">
      <h3 class="text-4xl md:text-5xl">tallerets a mida</h3>
      <p class="text-lg my-6">
        Si vols que organitzi un talleret per a tu i els teus amics, per a la
        teva empresa o per a un esdeveniment especial, escriu-me!
      </p>
      <div class="flex items-center gap-6">
        <a class="c-button" href=`mailto:${constants.email}`>
          <span class="text-xl">
            {constants.email}
          </span>
        </a>
      </div>
    </div>

    <!-- <img
      class="bg-dark text-soft h-48 w-96 object-cover rounded-sm"
      src="/img/tallerets-mida.png"
      alt="[Il·lustració cuqui]"
    /> -->
  </div>
</section>
