<section id="bio" class="page-padding md:max-w-[70ch] mx-auto py-16 md:py-24">
  <h2 class="text-4xl md:text-5xl text-center md:leading-tight">
    soc la Noor i organitzo tallers creatius
    <span>
      <img
        width="48"
        height="48"
        class="w-12 inline text-sm"
        src="/icons/flor.svg"
        alt="dibuix de una floreta"
      />
    </span>
  </h2>

  <img
    width="380"
    height="328"
    class="my-16 mx-auto w-96"
    src="/img/bio-noor.png"
    alt="Fotos de la Noor facilitant tallerets"
  />
  <p class="text-lg mb-8">
    Com més connecto amb mi i amb els demés ha estat sempre a través de l’art.
  </p>
  <p class="text-lg">
    Amb tallerets vull transmetre i ensenyar que quan fem coses amb les nostres
    mans ens sentim més presents i vius. Que per crear no cal experiència ni cap
    habilitat especial, només ganes de passar una estona amb tu mateixa.
  </p>
</section>
