---
import { getLangFromUrl, useTranslations } from '../../utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id="bio" class="page-padding md:max-w-[55ch] mx-auto py-16 md:py-24">
  <h2 class="text-4xl md:text-5xl text-center md:leading-tight font-[500]">
    {t('bio.title')}
    <span>
      <img
        width="48"
        height="48"
        class="w-12 inline text-sm"
        src="/icons/flor.svg"
        alt="dibuix de una floreta"
      />
    </span>
  </h2>

  <img
    width="380"
    height="328"
    class="my-16 mx-auto w-96"
    src="/img/bio-noor.png"
    alt="Fotos de la Noor facilitant tallerets"
  />
  <p class="text-xl">
    {t('bio.text')}
  </p>
</section>
