---
import { constants } from '../../config'
---

<section class="page-padding flex items-center flex-wrap gap-6 py-8">
  <h3 class="text-2xl md:text-3xl me-auto">
    segueix-me a Instagram per saber-ne més o envia'm un email
  </h3>

  <div class="text-xl flex gap-8 items-center">
    <div class="text-8xl">💌</div>
    <div>
      <p class="py-2">
        <span>instagram:</span>
        <a
          class="underline p-2"
          href={`https://www.instagram.com/${constants.instagramId}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          @{constants.instagramId}
        </a>
      </p>
      <p class="py-2">
        <span> email:</span>
        <a class="underline p-2" href={`mailto:${constants.email}`}>
          {constants.email}
        </a>
      </p>
    </div>
  </div>
</section>
