---
import { constants } from '../../config'
---

<footer class="page-padding mx-auto bg-dark text-soft">
  <nav class="py-8 flex justify-between items-center">
    <ul>
      <li>
        <a href="/reserva">reserva</a>
      </li>
      <li>
        <a href="/#bio">sobre mi</a>
      </li>
      <li>
        <a href="/tallers">tallerets</a>
      </li>
      <li>
        <a href="/#contact">contacte</a>
      </li>
    </ul>
    <ul class="text-end">
      <li>
        <a href="/terms-conditions">termes i condicions dels tallers</a>
      </li>
      <li>
        <a href="/privacy-policy">política de privacitat i cookies</a>
      </li>
    </ul>
  </nav>
</footer>
<hr class="text-soft" />
<p class="page-padding bg-dark text-soft text-xs py-4">
  <b class="textxl me-2">♧</b>
  disseny i desenvolupament web per
  <a class="underline" href={constants.authorLink}> @aymyo</a>
  ~ Barcelona, 2024
</p>

<style>
  li {
    margin: 0.5rem 0;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
