---
const { className } = Astro.props

import MobileMenu from '../MobileMenu.astro'
import NavLinks from '../_partials/NavLinks.astro'
---

<header
  class={`${className} page-padding z-10 flex items-center py-5 top-0 w-full `}
>
  <a href="/" class="me-auto text-4xl md:text-6xl italic"> tallerets</a>
  <nav class="flex justify-center">
    <NavLinks className="hidden md:flex items-center gap-4 text-xl" />
  </nav>
  <MobileMenu className="md:hidden" />
</header>
