---
import Header from './Header.astro'
---

<section class="relative h-screen overflow-hidden">
  <video
    autoplay
    loop
    muted
    playsinline
    class="absolute z-1 w-auto min-w-full min-h-full max-w-none bg-soft"
  >
    <source src="vids/hero.mp4" type="video/mp4" />
    <span class="text-soft">
      Aqui hi ha un video d'alguns tallarets! Però sembla que el teu navegador
      no el pot reproduir 😢
    </span>
  </video>
  <Header className="text-dark absolute" />
  <div
    class="relative page-padding h-[100vh] bg-black flex flex-col items-start text-dark"
  >
    <h1 class="text-6xl sm:text-8xl lg:text-9xl mt-auto">
      una pausa<br />per crear
    </h1>
    <div class="flex justify-center">
      <a href="#tallerets" class="c-button my-12 bg-soft">pròxims tallerets</a>
    </div>
    <div class="mb-8 sm:mb-16 flex justify-center min-w-full">
      <a href="#bio">
        <img
          width="48"
          height="48"
          src="/icons/vector.svg"
          alt="Veure més"
          class="w-12 h-12 sm:w-16 sm:h-16"
        />
      </a>
    </div>
  </div>
</section>
