---
import { defaultLang, getLangFromUrl, languages } from '../../utils'
const currentLang = getLangFromUrl(Astro.url)
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => {
      const href = lang === defaultLang ? '/' : `/${lang}/`
      return (
        <li
          class={`text-end lowercase ${currentLang === lang && 'decoration'}`}
        >
          <a href={href}>{label}</a>
        </li>
      )
    })
  }
</ul>

<style>
  li.decoration::before {
    content: '☞';
  }
</style>
