---
import { contacts } from '../../data/contact'
import { getLangFromUrl, useTranslations } from '../../utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<main
  class="flex flex-col md:flex-row items-center justify-center gap-16 min-h-[96vh] p-8"
>
  <img
    width="288"
    class="w-56 md:w-72"
    src="/icons/potets.svg"
    alt="il·lustració de uns pots de vidre i uns pinzells"
  />
  <div class="max-w-[50rem]">
    <h1 class="text-4xl md:text-6xl mb-6">{t('maintenance.title')}</h1>

    <p class="text-lg md:text-2xl mt-8">
      {t('maintenance.text')}
      <a
        target="_blank"
        class="underline"
        rel="noopener noreferrer"
        href={contacts.instagramUrl}
      >
        @{contacts.instagramId}
      </a>
      {t('maintenance.text2')}
      <a class="underline" href={`mailto:${contacts.email}`}>
        {contacts.email}
      </a>
    </p>
  </div>
</main>
