---
import { constants } from '../../config'
---

<main
  class="flex flex-col md:flex-row items-center justify-center gap-16 min-h-[96vh] p-8"
>
  <img
    width="288"
    class="w-56 md:w-72"
    src="/icons/potets.svg"
    alt="il·lustració de uns pots de vidre i uns pinzells"
  />
  <div class="max-w-[50rem]">
    <h1 class="text-4xl md:text-6xl mb-6">Estem fent obres a la web!</h1>

    <p class="text-lg md:text-2xl mt-8">
      Si tens qualsevol dubte o vols informació sobre els tallers, pots
      seguir-me a Instagram a{' '}
      <a
        target="_blank"
        class="underline"
        rel="noopener noreferrer"
        href={`https://www.instagram.com/${constants.instagramId}`}
      >
        @{constants.instagramId}
      </a>
      o escriure un email a{' '}
      <a class="underline" href={`mailto:${constants.email}`}>
        {constants.email}
      </a>
    </p>
  </div>
</main>
