---
import { getLangFromUrl, useTranslatedPath, useTranslations } from '../../utils'

interface Props {
  className: string
  isMobile?: boolean
}

const { className, isMobile } = Astro.props

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const tallersUrl = translatePath('/tallers')
const aboutUrl = translatePath('/sobre-mi')
const contactUrl = translatePath('/contacte')
---

<ul class={className}>
  <li>
    <a href={tallersUrl}>{t('nav.a.tallers')}</a>
  </li>
  <li>
    <a href={aboutUrl}>{t('nav.a.bio')}</a>
  </li>
  <li>
    <a href={contactUrl}>{t('nav.a.contact')}</a>
  </li>
</ul>

<style>
  a {
    @apply block border-2 bg-soft rounded-full text-center px-5 pb-[0.4rem] pt-[0.4rem] hover:-rotate-6 hover:border-red hover:text-red transition-transform;
  }
</style>
