---
interface Props {
  mailto: string
}
const { mailto } = Astro.props

import { constants } from '../../config'
---

<ol class="list-decimal ps-5">
  <li class="mb-3">
    <p class="font-bold mb-3">
      Envia'm un email amb els detalls del talleret, el numero de persones i el
      teu nom i cognom.
    </p>
    <a
      href={`mailto:${mailto}`}
      aria-label="Enviar email per reservar una plaça al talleret"
      class="inline-block border rounded-full px-2 py-1 hover:-rotate-3 transition-all my-2 hover:text-red hover:border-red"
    >
      <b class="mx-1">✎</b>
      {constants.email}
    </a>
  </li>

  <li class="font-bold mt-3">
    Rebràs un email de confirmació amb les instruccions per fer el pagament.
  </li>

  <li class="font-bold mt-3">
    Un cop fet el pagament, les places quedaràn reservades ☆
  </li>
</ol>

<small class="block mt-4">
  Consulta les condicions de <a
    class="underline hover:text-red"
    href="/terms-conditions">reserva i cancel·lació</a
  >, i la <a class="underline hover:text-red" href="/privacy-policy">
    política de privacitat
  </a>.
</small>
