---
import { constants } from '../../config'
---

<div class="border border-dark rounded p-2">
  <h2 class="text-xl md:text-2xl mb-4">reserves</h2>
  <p>
    Envia'm un email a
    <a class="underline" href={`mailto:${constants.email}`}>
      {constants.email}
    </a>
    amb el talleret que vols fer i la data. Et respondré amb la informació per fer
    el pagament i confirmar la teva plaça.
  </p>
  <small class="block mb-8 mt-2">
    En enviar un email per reservar, acceptes la
    <a class="underline" href="/privacy-policy"> política de privacitat</a>
  </small>

  <h2 class="text-xl md:text-2xl mb-4">cancel·lacions</h2>
  <p>
    Si has de cancel·lar la teva plaça, avisa'm amb un mínim de 48h d’antelació
    i et retornaré el 100% del pagament. Si avises amb menys de 48h d’antelació,
    no es retorna el pagament.
  </p>
</div>
