---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/sections/Footer.astro'
import Header from '../components/sections/Header.astro'
import { constants } from '../config'
---

<Layout title="tallerets: política de privacitat">
  <Header className="border-b bg-soft text-dark relative" />
  <main class="page-padding py-4 max-w-[80ch] mx-auto pb-16">
    <p class="mb-2 text-sm mt-6">
      Data d'entrada en vigor: 11 de febrer de 2024
    </p>
    <p class="mb-8 text-sm">
      En utilitzar el lloc web, accepteu els termes d'ús i doneu el vostre
      consentiment a aquesta Política de privacitat. Reviseu-la periòdicament
      per a qualsevol actualització.
    </p>

    <h1 class="text-3xl font-bold mb-4">Política de privacitat</h1>
    <p>
      Aquesta Política de privacitat descriu el procés de recopilació, ús i
      protecció de la informació recollida.
    </p>

    <h2 class="text-2xl py-3 font-bold">Recolecció i us</h2>

    <h3 class="font-bold">Adreça de correu electrònic</h3>
    <p class="mb-4">
      Recollim la vostra adreça de correu electrònic quan envieu una sol·licitud
      de reserva a {constants.email}. L'adreça de correu electrònic s'utilitzarà
      únicament amb fins de comunicació relacionats amb els tallers.
    </p>

    <h3 class="font-bold">Fotografies dels assistents als taller</h3>
    <p class="mb-4">
      Es possible que es facin fotografies durant els tallers amb fins
      promocionals. En assistir a un taller, accepteu la possibilitat que la
      vostra imatge sigui utilitzada tant a les xarxes com altres metodes de
      promoció. Si preferiu que no es mostri el vostre rostre, si us plau,
      notifiqueu-ho amb antelació quan reserveu el taller.
    </p>

    <h3 class="font-bold">Cookies</h3>
    <p>No es recullen cookies en aquest lloc web.</p>

    <h2 class="text-2xl py-3 font-bold">Tractament de dades</h2>
    <p>
      No compartim ni venem la vostra informació personal amb tercers. Les
      fotografies poden ser utilitzades per promocionar tallerets. Si no voleu
      que sigui així, podeu enviar un email per esborrar-les.
    </p>
    <p>
      Les dades recollides es mantindran fins que sol·liciteu la seva
      eliminació.
    </p>
    <p>Les dades són emmagatzemades a Google Drive.</p>
    <p>
      Podeu sol·licitar i eliminar les vostres dades enviant un correu
      electrònic a {constants.email}.
    </p>

    <h2 class="text-2xl py-3 font-bold">
      Canvis en aquesta Política de privacitat
    </h2>
    <p>
      Podem actualitzar aquesta Política de privacitat segons sigui necessari.
      Qualsevol canvi es publicarà en aquesta pàgina amb una data d'entrada en
      vigor revisada.
    </p>

    <h2 class="text-3xl py-3 font-bold mt-8">Contacte</h2>
    <p>
      Si teniu alguna pregunta o preocupació sobre els Termes d'ús o la Política
      de privacitat, poseu-vos en contacte a {constants.email}.
    </p>
  </main>
</Layout>
<Footer />
