---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/sections/Footer.astro'
import Header from '../components/sections/Header.astro'
import { constants } from '../config'
---

<Layout
  title="tallerets — termes i condicions"
  description="Termes i condicions respecte a la reserva, possible cancel·lació i tractament de dades durant els tallerets."
>
  <Header className="border-b bg-soft text-dark relative" />
  <main class="page-padding py-4 max-w-[80ch] mx-auto pb-16">
    <p class="mb-2 text-sm mt-6">
      Data d'entrada en vigor: 11 de febrer de 2024
    </p>
    <p class="mb-8 text-sm">
      En reservar i unirse als tallers, accepteu els termes i condicions.
    </p>

    <h1 class="text-3xl font-bold mb-4">Termes i condicions dels tallers</h1>

    <h2 class="text-xl py-3 font-bold">Reserva i cancelacions</h2>

    <p>
      Si has de cancel·lar la teva plaça, avisa'm amb un mínim de 72h
      d’antelació i et retornaré el 100% del pagament.
      <b>Si avises amb menys de 72h d’antelació, no es retorna el pagament.</b>
    </p>

    <h2 class="text-xl py-3 font-bold">
      Fotografies dels assistents als taller
    </h2>
    <p class="mb-4">
      Es possible que es facin fotografies durant els tallers amb fins
      promocionals. En assistir a un taller, accepteu la possibilitat que la
      vostra imatge sigui utilitzada tant a les xarxes com altres metodes de
      promoció. Si preferiu que no es mostri el vostre rostre, si us plau,
      notifiqueu-ho amb antelació quan reserveu el taller.
    </p>

    <p>
      Es reserva el dret d'admissió. Per més informació sobre el tractament de dades, llegiu
      <a href="/privacy-policy" class="text-primary underline">
        la nostra política de privacitat
      </a>.
    </p>

    <h2 class="text-3xl font-bold mb-4 mt-8">Termes d'ús de la web</h2>

    <h3 class="text-xl py-3 font-bold">Propietat intel·lectual</h3>
    <p>
      Tot el contingut d'aquest lloc web, incloent-hi text, imatges, vídeos i
      logotips, està protegit per drets de propietat intel·lectual. No podeu
      utilitzar, reproduir o distribuir el nostre contingut sense el nostre
      permís explícit.
    </p>

    <h2 class="text-3xl font-bold mb-4 mt-8">Canvis en els termes</h2>
    <p>
      Podem actualitzar aquests termes de tant en tant. Qualsevol canvi serà
      efectiu en publicar-ho en aquesta pàgina.
    </p>

    <h2 class="text-3xl py-3 font-bold mt-8">Contacte</h2>
    <p>
      Si teniu alguna pregunta o preocupació sobre els Termes d'ús o la Política
      de privacitat, poseu-vos en contacte a {constants.email}.
    </p>
  </main>
</Layout>
<Footer />
