---
import { getEntry } from 'astro:content'
import { getLangFromUrl } from '../../utils'
import Header from './Header.astro'

const lang = getLangFromUrl(Astro.url)
const heroSection = await getEntry('sections', `${lang}/partial_homehero`)
const cta = heroSection?.data.links?.[0]
const rendered = await heroSection?.render()
---

<section class="relative h-screen overflow-hidden">
  <div class="container">
    <video autoplay loop muted playsinline class="video absolute z-1">
      <source src={heroSection?.data.image?.url} type="video/mp4" />
    </video>
  </div>
  <Header className="text-dark absolute" />
  <div
    class="relative page-padding h-[100vh] bg-black flex flex-col items-start pb-8"
  >
    <h1
      class="text-dark text-8xl sm:text-9xl lg:text-[10rem] mt-auto pt-20 mb-6 font-[500]"
    >
      {rendered && <rendered.Content />}
    </h1>

    {
      cta && (
        <div class="flex justify-end items-center w-full">
          <a
            href={cta?.url}
            class="block border-2 px-4 py-3 rounded-full text-2xl font-bold hover:-rotate-6 transition-transform my-4 md:my-8 bg-soft me-auto text-nowrap"
          >
            {cta?.text}
          </a>
        </div>
      )
    }
  </div>
</section>

<style>
  .container {
    height: auto;
    width: 100vw;
    position: relative;
  }

  .video {
    filter: contrast(1.4) opacity(0.7) blur(2.6px);
    min-width: 100vw;
    object-fit: cover;
    object-position: center;
    height: 100vh;
  }
</style>
