---
interface Props {
  links: {
    url: string
    text: string
  }[]
}

const { links } = Astro.props
---

<div class="mt-4 md:mt-12 flex items-center gap-4 flex-wrap justify-center">
  {
    links.map((link: { url: string; text: string }) => (
      <a
        href={link.url}
        class="block border-2 px-4 py-3 rounded-full text-xl sm:text-2xl font-bold hover:-rotate-6 transition-transform"
      >
        {link.text}
      </a>
    ))
  }
</div>
