---
import NavLinks from './_partials/NavLinks.astro'

interface Props {
  className?: string
}
const { className } = Astro.props
---

<div class={className}>
  <input class="hidden" type="checkbox" id="nav-menu" />
  <label for="nav-menu" id="open-button" class="text-3xl cursor-pointer z-20">
    <img src="/icons/menu.svg" width="32" height="32" alt="Open menu icon" />
  </label>
  <label
    for="nav-menu"
    id="close-button"
    class="hidden text-3xl cursor-pointer z-20 top-8 right-5"
  >
    <img src="/icons/close.svg" width="32" height="32" alt="Close menu icon" />
  </label>
  <nav id="overlay" class="c-menu bg-dark">
    <NavLinks isMobile className="text-2xl flex flex-col gap-12" />
  </nav>

  <style>
    input[type='checkbox']:checked ~ #overlay {
      display: flex;
    }
    input[type='checkbox']:checked ~ #close-button {
      position: fixed;
      display: block;
    }
    input[type='checkbox']:checked ~ #open-button {
      display: none;
    }
    .c-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      gap: 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  </style>
</div>
