---
const { className } = Astro.props
---

<ul class={className}>
  <li>
    <a href="/reserva">reserva</a>
  </li>
  <li>
    <a href="/sobre-mi">sobre mi</a>
  </li>
  <li>
    <a href="/tallerets">tallerets</a>
  </li>
  <li>
    <a href="/contacte">contacte</a>
  </li>
</ul>
