---
const { className } = Astro.props
---

<ul class={className}>
  <li>
    <a href="/reserva">reserva</a>
  </li>
  <li>
    <a href="/#bio">sobre mi</a>
  </li>
  <li>
    <a href="/tallers">tallerets</a>
  </li>
  <li>
    <a href="/#contact">contacte</a>
  </li>
</ul>

<style>
  a:hover {
    text-decoration: underline;
  }
</style>
