---
import LinkList from '../components/LinkList.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header/Header.astro'
import BaseLayout from './BaseLayout.astro'
import Prose from '../components/Prose.astro'

const { section } = Astro.props
const { Content } = await section.render()
const { title, desc, links } = section.data

---

<BaseLayout title={title} description={desc}>
  <Header />
  <main>
    <section class="page-padding mx-auto pb-20 pt-4 flex flex-col items-center">
      {
        title && (
          <h1 class="text-4xl md:text-6xl text-center md:leading-tight font-[500] max-w-[20ch] mt-0 mb-8 md:mb-12">
            {title}
            <span>
              <img
                width="48"
                height="48"
                class="w-12 inline text-sm"
                src="/icons/flor.svg"
                alt=""
              />
            </span>
          </h1>
        )
      }

      <div class="text-2xl md:text-xl max-w-[50ch] content text-justify">
hola
        <Prose>
          <Content />
        </Prose>
      </div>

      {links && <LinkList links={links} />}
    </section>
  </main>
  <Footer />
</BaseLayout>


