---
import Layout from './BaseLayout.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header/Header.astro'
import TallerPostcard from '../components/TallerCard.astro'
import { getLangFromUrl } from '../utils'
import { getCollection } from 'astro:content'
import Highlights from '../components/Highlights.astro'

const { frontmatter } = Astro.props

const lang = getLangFromUrl(Astro.url)

const allTallers = await getCollection('cursos', ({ id }: { id: string }) => {
  return id.startsWith(lang)
})
---

<Layout
  title={frontmatter.title || 'Tallers'}
  description={frontmatter.desc || ''}
>
  <Header className="bg-soft text-dark relative" />
  <main>
    <h1
      class="pt-4 text-4xl md:text-6xl text-center md:leading-tight font-[500]"
    >
      {frontmatter.title}
      <span>
        <img
          width="48"
          height="48"
          class="w-12 inline text-sm"
          src="/icons/flor.svg"
          alt=""
        />
      </span>
    </h1>
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <ul
        class="page-padding flex flex-wrap gap-4 md:gap-10 pt-6 pb-12 overflow-hidden items-center justify-center"
      >
        {
          allTallers.map((taller: any) => (
            <TallerPostcard
              taller={taller}
              infoBtn={frontmatter.other.infoBtn}
            />
          ))
        }
      </ul>
    </section>
    <section
      class="my-4 lg:my-12 flex flex-col items-center justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <h2
        class="text-3xl mb-12 md:text-4xl text-center md:leading-tight font-[500]"
      >
        {frontmatter.other.subtitle}
        <span>
          <img
            width="48"
            height="48"
            class="w-12 inline text-sm"
            src="/icons/flor.svg"
            alt=""
          />
        </span>
      </h2>
      <Highlights />
    </section>
  </main>

  <hr />
  <Footer />
</Layout>
