---
import Mantainance from '../components/Mantainance.astro'
import { config, constants } from '../config'

interface Props {
  title: string
}

const { title } = Astro.props
// const htmlClass = import.meta.env.MODE !== 'development' ? 'scroll-smooth' : ''
const htmlClass = 'scroll-smooth'
---

<!doctype html>
<html lang="en" class={htmlClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍒</text></svg>"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-serif bg-soft text-dark relative w-100 overflow-x-hidden">
    {config.maintenance ? <Mantainance /> : <slot />}
  </body>
</html>

<style is:global>
  .page-padding {
    @apply px-4 sm:px-6 md:px-8;
  }
  .c-button {
    @apply border rounded-full text-center text-xl md:text-2xl px-4 py-2 hover:-skew-y-2;
  }
  .text-border {
    --soft: #f9f9f9;
    text-shadow:
      1px 0px 0px var(--soft),
      0px 1px 0px var(--soft),
      -1px 0px 0px var(--soft),
      0px -1px 0px var(--soft);
  }
</style>
